.innovation-block {
    grid-row: span 1;
    grid-column: span 2;

    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.iphone-16-pro {
        background-image: url("/public/hero_iphone_16_pro_large.jpg");

    }

    &.iphone-16 {
        background-image: url("/public/hero_iphone_16_large.jpg")
    }

    .innovation-container {
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: center;
        text-decoration: none;
        outline: none;

        .information {
            font-family: Inter;
            color: var(--light-c1);
            padding-top: 60px;


            .hero-text {
                justify-self: center;
                font-size: 42pt;
                font-weight: 600;
            }

            .additional-text {
                justify-self: center;
                font-size: 20pt;
                font-weight: 400;
            }

            .button-block {
                justify-self: center;
                padding-top: 20px;

                .btn {
                    padding-left: 25px;
                    padding-right: 25px;
                    margin-left: 10px;
                    margin-right: 10px;

                    &.iphone-16-pro-learn-more {
                        background-color: var(--blue-c);
                        color: var(--light-c1);
                        border-color: var(--blue-c);
                    }

                    &.iphone-16-pro-buy {
                        background: none;
                        color: var(--blue-c);
                        border-color: var(--blue-c);

                        &:hover {
                            background-color: var(--blue-c);
                            color: var(--light-c1);
                        }
                    }

                    &.iphone-16-learn-more {
                        background-color: var(--light-c1);
                        color: var(--dark-c);
                        border-color: var(--light-c1);
                    }

                    &.iphone-16-buy {
                        background: none;
                        color: var(--light-c1);
                        border-color: var(--light-c1);

                        &:hover {
                            background-color: var(--light-c1);
                            color: var(--dark-c);
                        }
                    }
                }
            }
        }
    }
}