.register-page {
    width: 100%;
    height: 100vh;

    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--light-c1);



    .window {
        border: 2px solid var(--dark-c);

        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;

        border-radius: 15px;
        height: 600px;
        width: 500px;
        background-color: var(--light-c);

        .hero-text {
            font-size: 32pt;
            font-weight: 800;
        }

        .form {

            margin-top: 20px;

            .text-block {
                margin-top: 10px;
                margin-bottom: 10px;

                .text {
                    /* justify-self: center; */
                    display: inline;
                    font-size: 15pt;
                }
            }

            .error {
                float: right;
                display: inline;
                color: red;
            }

            .input {
                background-color: var(--sky-c1);
                box-sizing: border-box;
                /* box-sizing: content-box; */
                border: none;
                border-radius: 8px;
                height: 30px;
                width: 100%;
                box-shadow: -2px 0px var(--blue-c1);
                transition: outline 0.1s;
                outline: none;
                /* &:focus {
                    outline: 3px solid var(--blue-c1);
                } */
            }

            .submit {
                border: none;
                height: 40px;

                border-radius: 10px;
                justify-self: center;
                margin-top: 20px;
                width: 80%;
                /* background-color: var(--blue-c1); */

                input {
                    color: var(--light-c);
                    font-weight: 300;
                    background-color: var(--blue-c1);
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                }


            }

            .helpful-panel {
                margin-top: 15px;

                .show-password {
                    background-color: var(--blue-c1);
                    width: max-content;
                    color: var(--light-c1);
                    padding: 5px;
                    border-radius: 8px;
                    cursor: pointer;

                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                .forgot-password {
                    float: right;
                    text-decoration-line: underline;
                    cursor: pointer;
                }

            }
        }
    }
}