.tv-carousel-element {
    margin-left: 12px;
    min-width: 1250px;
    height: 667px;
    position: relative;
    display: flex;
    flex-direction: column;

    .information {
        color: white;
        font-size: 14pt;
        z-index: 3;

        .btn {}

        .bold-description {}

        .description {}
    }

    .image {
        z-index: 2;
        flex-grow: 1;
        background-repeat: no-repeat;
        background-size: cover;

        position: absolute;
        background-image: url(/public/hero_tv_the_gorge.jpg);
        width: 100%;
        height: 100%;
    }

}

#tv-carousel-element--1 {}

#tv-carousel-element-1 {}