.tv-carousel {
    margin-top: 12px;
    width: 100%;
    overflow: hidden;

    position: relative;


    .tv-carousel-container {
        display: flex;

        justify-content: center;

        .tv-carousel-window {
            /* border: 12px var(--light-c2) solid; */

            width: 1250px;
            overflow: visible;

            .tv-carousel-row {
                display: flex;

            }
        }
    }
}