@import "./local/TopUI.css";
@import "./local/Innovation.css";
@import "./local/InnovationLayout.css";
@import "./local/HeroProduct.css";
@import "./local/HeroProductLayout.css";
@import "./Common.css";
@import "./local/TVCarousel.css";
@import "./local/TVCarouselElement.css";
@import "./local/HeroFooter.css";
@import "./local/RegisterPage.css";


@font-face {
  font-family: 'Inter';
  src: url("/src/fonts/Inter/Inter.ttf")
}

:root {
  --light-c: #FFFFFF;
  --light-c1: #F5F5F7;
  --light-c2: #D1D1D6;
  --gray-c1: #949494;
  --gray-c2: #333333;
  --dark-c: #000000;
  --blue-c1: #2f80ec;
  --blue-c2: #0071E3;
  --sky-c1: #eff0ff;
  --red-c1: #db6060;
}



* {
  font-family: Inter;
  margin: 0;
}